@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-component {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Adjust the transition duration as needed */
}

.fade-in-component.fade-in-active {
    opacity: 1;
}